[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pytest = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest-cov = "*"
pytest-flake8 = "*"
python-decouple = "*"
flake8 = "*"
psycopg2-binary = "*"

[dev-packages]
rope = "*"
isort = "*"
pre-commit = "*"
ipykernel = "*"
lice = "*"
pep8-naming = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
